$clr-primary-1: hsl(26, 100%, 55%);
$clr-primary-2: hsl(25, 100%, 94%);

$clr-neutral-1: hsl(220, 13%, 13%);
$clr-neutral-2: hsl(219, 9%, 45%);
$clr-neutral-3: hsl(220, 14%, 75%);
$clr-neutral-4: hsl(223, 64%, 98%);
$clr-neutral-5: hsl(0, 0%, 100%);
$clr-neutral-6: hsl(0, 0%, 0%); // opacity .75

$font-size-default: 1.6rem;

$font-weight-regular: 400;
$font-weight-bold: 700;
