.header {
  position: relative;

  display: flex;
  align-items: center;

  border-bottom: 0.01rem solid rgba($clr-neutral-6, 0.1);

  &__img-box {
    position: relative;

    padding: 3rem 1.5rem;

    &--cart {
      margin-left: auto;
    }

    &--logo {
      @include respond(tab-port) {
        order: -1;
        margin-left: 0rem;
      }
    }

    &--avatar {
      margin-right: 1rem;

      @include respond(tab-port) {
        margin-right: 0rem;
      }
    }
  }

  &__img {
    width: 3rem;
    height: 3rem;

    cursor: pointer;

    &--hamburger {
      width: 2rem;
      height: 2rem;
      margin-left: 1rem;
    }

    &--logo {
      width: auto;
      height: 2rem;
      margin-left: -1rem;
    }

    &--avatar {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      border: 0.1rem solid transparent;

      &:hover {
        border: 0.1rem solid $clr-primary-1;
      }
    }

    &--opened {
      filter: brightness(0) saturate(100%);
    }
  }

  &__quantity {
    position: absolute;
    top: 25%;
    left: 50%;

    padding: 0 1rem;
    border-radius: 2rem;

    background-color: $clr-primary-1;

    color: $clr-neutral-4;
  }
}
