*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%;

  @include respond(tab-port) {
    font-size: 57.25%;
  }

  @include respond(normal-desktop) {
    font-size: 62.5%;
  }
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: $font-weight-regular;
  box-sizing: border-box;
  line-height: 1.6;

  color: $clr-neutral-6;
}

#root {
  width: 100%;
  height: 100%;
}
